extends layout

block content
  - let create = `dispatch(\"/serials/create\")`
  button.btn(class="btn-secondary ml-1", onclick= create) create
  h1= title
  - let serials=results 
  div(class="container-fluid mt-3")
  div(class="row")
    each serial,index in serials
      - let destination = `dispatch(\"/serials/update?id=${serial._id}\")`
      - let detail = `dispatch(\"/serials/detail?id=${serial._id}\")`
      - let del = `dispatch(\"/serials/delete?id=${serial._id}\")`
        div(class="row-sm-2",class="m-1") #{serial.author} - #{serial.name} - #{serial.season}
          button.btn(class="btn-primary ml-1", onclick= destination) Update
          button.btn(class="btn-success ml-1", onclick= detail) View
          button.btn(class="btn-danger ml-1", onclick= del) delete
          
  script.
      function dispatch(path){
      window.location.href=path
      }
      function buy(item)
      {
        alert(`You purchased Item ${item+1}`)
      }